[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  //margin-top: 1px;
  //line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/ico.png");
  background-repeat: no-repeat;
}

.icon-settings {
  background-position: 0 0;
  .square(17px);
}

.icon-notice {
  background-position: 0 -20px;
  .size(14px,17px);
}

.icon-caret {
  background-position: 0 -49px;
  display: inline-block;
  .size(13px,9px);
  margin-left: 5px;
  vertical-align: middle;
}