[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  //margin-top: 1px;
  //line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/ico.png");
  background-repeat: no-repeat;

  &.m {
    vertical-align: middle;
  }
}

.icon-settings {
  background-position: 0 0;
  .square(17px);
}

.icon-notice {
  background-position: 0 -20px;
  .size(14px,17px);
}

.icon-caret {
  background-position: 0 -49px;
  display: inline-block;
  .size(13px,9px);
  margin-left: 5px;
  vertical-align: middle;
}

.icon-caret-sm {
  background-position: 0 -200px;
  .size(8px,6px);
}

.icon-upload,
.icon-group {
  margin-right: 5px;
}

.icon-upload {
  background-position: 0 -75px;
  .size(13px,12px);
}

.icon-group {
  background-position: 0 -60px;
  .size(19px,13px);
}

.icon-save {
  background-position: 0 -89px;
  .square(15px);
}

.icon-request {
  background-position: 0 -106px;
  .size(14px,16px);
}

.icon-synchronization {
  background-position: 0 -124px;
  .size(15px,10px);
  margin-top: 3px;
}

.icon-history {
  background-position: 0 -136px;
  .size(16px,15px);
}

.icon-limits {
  background-position: 0 -153px;
  .size(17px,14px);
}