// Header
//----------------------------------------------------------------------------------------------------------------------.
.navbar {
  .label {
    border: 2px solid #fff;
    position: absolute;
    margin: -7px 0 0 5px;
  }
  .icon-notice {
    margin-right: 15px;
  }
}

.header-bottom {
  background: url('../img/header-bg.jpg') no-repeat 0 0;
  height: 125px;
  position: relative;
  .clearfix();

  h1 {
    color: #fff;
    font-size: 23px;
    position: absolute;
    bottom: 25px;
    margin: 0;
  }
}



// Content
//----------------------------------------------------------------------------------------------------------------------


// Footer
//----------------------------------------------------------------------------------------------------------------------