.wrapper {
  width: 1280px;
  margin: 0 auto;
  background: #fff;
  .box-shadow(44px 0px 95px 0px rgba(0,0,0,0.5));
}

/* Reset the container */
.container {
  width: @container-lg;
  max-width: none !important;
}
